@model PortFolioSewar.Models.Portfolio
@{
    ViewData["Title"] = "Portfoliodetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfoio Details</h2>
                <ol>
                   
                    <li>Portfoio Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

           
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="@Url.Content("~/"+Model.Img)" alt="">
                               
                            </div>

                            <div class="swiper-slide">
                                <img src="@Url.Content("~/"+Model.Img2)" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="@Url.Content("~/"+Model.Img3)" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: @Model.Category</li>
                            <li><strong>Client</strong>: @Model.Client</li>
                            <li><strong>Project date</strong>: @Model.ProjectDate</li>
                            @*<li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>*@
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Projecr detail</h2>
                        <p>
                            @Model.ProjectDescription
                            @Model.ProjectHint
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->